<p>Shwmae!</p>
<p>
    Congrats!  <b>A comment has been added on Explore the Vale, to the <%= @place.title %> route</b>
    Check it out <%= link_to 'here', place_url(@place) %>
</p>

Diolch,<br />
Davey