@import "bootstrap";
@import "font-awesome";

$brand-color: rgba(55, 157, 80, 0.9);
$brand-color-hover: rgba(55, 157, 80, 1);

$bold-serif: 'merriweatherbold', serif;

$bottom-space: 2rem;

@mixin button-hover {
	background: $brand-color;
	color: white;
}




/* ----- Resets & Overides ----- */
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
	font-size: 14px;
	line-height: 1.5rem;
	height: 100%;
	box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  min-height: 100%;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

::selection {
  background-color: rgba( 254, 69, 70, 0.7 );
}

abbr[title] {
	text-decoration: none;
}

.navbar {
	padding: 0;
}

ul {
	padding-left: 0;
}

li {
	list-style: none;
}

/* ----- Links & Typography ----- */
a, a:hover {
	color: #222;
}

a:hover {
	text-decoration: none;
}

.wrap {
	max-width: 95%;
	margin: 0 auto;
}


/* ----- button primary ----- */
.btn-brand {
	background: $brand-color;
	color: white;
}

.btn-brand:hover {
	background:$brand-color-hover;
}

.btn-clear {
	border: 1px solid $brand-color;
}


/* ----- Primary Navigation ----- */
.primaryNav {
	height: 8rem;
}

.primaryNav-logo {
	font-family: $bold-serif;
}

/* ----- Route Cards ----- */
.routeCard {
	padding-bottom: 1.5rem;
}

.routeCard:last-child {
	margin-right: auto;
}

.card-title {
	font-family: $bold-serif;
	line-height: 2rem;
}

.routeCard-info {
	list-style: none;
	padding-left: 0px;
}

.routeCard-terrain-list {
	display: flex;
}

.routeCard-terrain-list li {
	margin-right: 5px;
}

.routeCard-terrain-list li::after {
	content: ',';
}
.routeCard-terrain-list li:last-child::after {
	content: '';
}

/* ----- Filter Navigation ----- */
.filterRouteNav-title {
	font-size: 1rem;
	font-weight: bold;
	margin-right: 3rem;
}

/* ----- Pagination ----- */
.routePagination {
	width: 100%;
	margin: 2rem;
}

/* ----- Place Form ----- */
.placeForm {
	margin-bottom: $bottom-space;
}

.placeForm label {
	display: block;
}

.placeForm form {
	min-width: 50%;
}


.placeForm-route-name input,
.placeForm-difficulty input,
.placeForm-time input,
.placeForm-distance input,
.placeForm-description textarea,
.placeForm-directions textarea {
	width: 100%;
}

.placeForm .form-group {
	margin-bottom: $bottom-space;
}

.placeForm-heading {
	padding-bottom: $bottom-space;
}

.placeForm-buttons button,
.placeForm-buttons input,
.placeForm-terrain input {
	margin-right: .5rem;
}

.placeForm-time-field {
	width: 50%;
}



/* ----- Form Errors ----- */
.help-block {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

/* ----- Maps ----- */
#map {
  height: 300px;
}

i {
	color: $brand-color;
	margin-right: 5px;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}


/* ----- Breakpoints ----- */

@include media-breakpoint-up(sm) {
	html {
		font-size: 16px;
	}

  .wrap {
  	max-width: 90%;
  }

  .routeCard {
  	padding: .5rem;
		width: 50%;
	}

}

@include media-breakpoint-up(lg){
	.routeCard {
		width: 33.3333%;
	}

}

