<!DOCTYPE html>
<html>
  <head>
    <title>Explore the Vale</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<header class="primaryNav wrap d-flex justify-content-between align-items-center">

		  <a class='h4' href="#">Explore the Vale</a>

	    <nav class="primaryNav-links">
        <a class="mr-sm-2 btn btn-clear" href="#">Sign In</a>
        <a class=" btn btn-brand" href="#">Sign Up</a>
	    </nav>

		</header>

    <%= yield %>
  </body>
</html>
